<!doctype html>
<html>
<head>
    <title>Fitness Market App</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/font-awesome.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid" style="padding:0px;">
 <%- include("../templates/navbar.ejs") %>
    <div class="container">
        <h2>List of Available Gym</h2>
        <hr>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-success"><%= message %></div>
            <% } %>
            <br>

        <!-- Get the list of gym -->
        <% gym.forEach(function(gymInfo){%>
            <div class="col-md-4">  
                <div class="thumbnail" style="padding: 10px; min-height: 730px;"> 
                <h3><%= gymInfo.name %></h3><hr>
                <p style="text-align: justify"><strong>Description</strong>: <%= gymInfo.description %><p>
                
                <dl>
                    <!-- GET THE LIST OF TRAINER AVAILABLE FOR THIS GYM -->
                    <dd><h4><strong>Trainer</strong>: <%= gymInfo.trainers.local.name %></dd></h4>
                    <dd><strong>Location</strong>: <%= gymInfo.location %></dd>
                    <!-- SET THE DECIMAL POINT TO FIXED 2 DECIMAL POINT FOR HOURLY RATE -->
                    <dd><strong>Hourly Rate</strong>: $ <%= parseFloat(gymInfo.trainers.local.rate).toFixed(2) %></dd>
                    <dd><strong>Specialize in</strong>: 
                    <% gymInfo.trainers.local.specialization.forEach(function(specializeIn){ %>
                       <span class="label label-warning">#<%= specializeIn %></span>
                    <%});%>  
                    </dd><br>
                    <dd><img src="<%= gymInfo.image%>" class="img-responsive thumbnail"></img></dd>
                    <hr>
                    <dd class="text-center">
                    <a href="/trainer/profile/<%= gymInfo.trainers._id %>" class="btn btn-success btn-sm">
                        View Trainers Profile
                    </a>

                    <a href="/trainer/profile/<%= gymInfo.trainers._id %>" class="btn btn-success btn-sm">
                        Book a Class
                    </a>
                    </dd>
                </dl>     
                <hr>
                </div>
            </div>
        <%});%>
    </div>
</div>
</body>
</html>