<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
  <%- include("../../templates/navbar.ejs") %>
    <div class="container">
      <div class="row">
        <!-- LOCAL INFORMATION -->
        <% if(user.local.email != null){%>
        <div class="col-sm-12">
          <div class="well">
            <h3><span class="fa fa-user"></span> Client's Profile</h3>
            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
              <strong>name</strong>: <%= user.local.name %><br>
              <strong>Age</strong>: <%= user.local.age %><br>
              <strong>Birthday</strong>: 
              <% if(user.local.birthday){%>
                <%= user.local.birthday.toLocaleDateString("en-US") %>
                <%}%>
                <br>
                <strong>Address</strong>: 
                <!-- For each loops that itterate and display each specialization of the trainer-->
                <% user.local.address.forEach(function(addresses){ %>
                  <ul>
                    <%= addresses %>
                  </ul>
                  <%});%>
                </p>
              </div>
            </div>
            <%}%>

             <!-- FACEBOOK INFORMATION -->
            <% if(user.facebook.email != null){%>
             <div class="col-sm-12">
               <div class="well">
                 <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                 <p>
                   <strong>id</strong>: <%= user.facebook.id %><br>
                   <strong>token</strong>: <%= user.facebook.token %><br>
                   <strong>email</strong>: <%= user.facebook.email %><br>
                   <strong>name</strong>: <%= user.facebook.name %>
                 </p>
               </div>
             </div>
             <%}%>

             <Legend>Book a lesson to this Gym: </Legend>
             <h3>Not yet booked to any Gym</h3><br>
             <a href="/gym" class="btn btn-danger btn-sm">View All Gym</a>
         </div>
       </div>

     </div>
   </body>
   </html>