<!doctype html>
<html>
<head>
    <title>Fitness Market App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/trainer/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Trainer Profile</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>name</strong>: <%= user.local.name %><br>
                        <strong>Age</strong>: <%= user.local.age %><br>
                        <strong>Birthday</strong>: <%= user.local.age %><br>
                        <strong>specialization</strong>: 
                        <!-- For each loops that itterate and display each specialization of the trainer-->
                        <% user.local.addresses.forEach(function(address){ %>
                            <ul>
                                <%= address %>
                            </ul>
                        <%});%>
                    </p>
            </div>
        </div>
    </div>


</div>
</body>
</html>