<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
<div class="container-fluid" style="padding:0px;">
   <%- include("../../templates/navbar.ejs") %>
    <div class="container">
      <div class="row">
        <!-- TRAINER INFORMATION -->
        <div class="col-sm-12">
          <div class="well">
            <h3><span class="fa fa-user"></span> Trainer's Profile</h3>
            <p>
              <strong>email</strong>: <%= trainer.local.email %><br>
              <strong>name</strong>: <%= trainer.local.name %><br>
              <strong>description</strong>: <%= trainer.local.description %><br>
              <strong>specialization</strong>: 
              <!-- For each loops that itterate and display each specialization of the trainer-->
              <% trainer.local.specialization.forEach(function(specializeIn){ %>
              <span class="label label-warning">#<%= specializeIn %></span>
              <%});%>
            </p>
          </div>
        </div>
        </div>

        <div class="well">
        <Legend><span class="fa fa-users"></span> Gym Profile <a class="btn btn-danger btn-sm pull-right"> Book to this Gym </a></Legend>
           <p><h4><strong>Gym's Name</strong>: <%= trainer.local.gymInfo.name %></h4>
               <strong>Description</strong>: <%= trainer.local.gymInfo.description %><br>
               </p>
          <img src="<%= trainer.local.gymInfo.image %>" class="img-responsive" width="100%"></img>
        </div>
        <hr>

      </div>
    </div>


  </div>
</body>
</html>