<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
  <%- include("../../templates/navbar.ejs") %>
  <div class="container">
    <div class="row">

      <!-- TRAINER LOCAL INFORMATION -->
      <% if(trainer.local.email != null){%>
      <div class="col-sm-12">
        <div class="well">
          <h3><span class="fa fa-user"></span> Trainer's Profile</h3>
          <p>
            <strong>id</strong>: <%= trainer._id %><br>
            <strong>email</strong>: <%= trainer.local.email %><br>
            <strong>name</strong>: <%= trainer.local.name %><br>
            <strong>description</strong>: <%= trainer.local.description %><br>
            <strong>specialization</strong>: 
            <!-- For each loops that itterate and display each specialization of the trainer-->
              <% trainer.local.specialization.forEach(function(specializeIn){ %>
                <ul>
                  <%= specializeIn %>
                </ul>
              <%});%>
            <%if(trainer.local.gymInfo){%>
            <strong>Gym Registered to: </strong> <%= trainer.local.gymInfo.name %> <br>
            <a href="/gym/profile/<%= trainer.local.gymInfo.id %>" class="btn btn-primary btn-sm">View Gym Profile</a>
            <%}%>
            </p>
          </div>
        </div>
        <%}%>

        <!-- FACEBOOK TRAINER INFORMATION -->
        <% if(trainer.facebook.email != null){%>
        <div class="col-sm-12">
          <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            <p>
              <strong>id</strong>: <%= trainer.facebook.id %><br>
              <strong>token</strong>: <%= trainer.facebook.token %><br>
              <strong>email</strong>: <%= trainer.facebook.email %><br>
              <strong>name</strong>: <%= trainer.facebook.name %>
            </p>
        </div>
        <%}%>

        <hr>
        <% if(trainer.local.gymInfo == null){%>
          <h3>There's no registered gym for this trainer yet</h3>
          <a href="/gym/create" class="btn btn-primary">Click here to Register a gym</a>
        <%}%>

    </div>
  </div>

  </div>
 </body>
 </html>