<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
    <%- include("../../templates/navbar.ejs") %>
    <div class="container">
      <div class="row">

        <!-- TRAINER LOCAL INFORMATION -->
        <% if(trainer.local.email != null){%>
          <div class="col-sm-4">
            <div class="well text-center">
              <Legend><span class="fa fa-user"></span> Trainer's Profile</Legend>
                <img src="<%= trainer.local.image %>" class="img-responsive img-thumbnail img-circle" width="150"></img> <br><br>
              <div class="text-left">
                <strong>Email</strong>: <%= trainer.local.email %><br>
                <strong>Name</strong>: <%= trainer.local.name %><br>
                <strong>Description</strong>: <%= trainer.local.description %><br>
                
                <strong>Birthday</strong>: 
                <% if(trainer.local.birthday){%>
                    <%= trainer.local.birthday.toLocaleDateString("en-US") %>
                <%}%><br>

                <!-- For each loops that itterate and display each specialization of the trainer-->
                <strong>Address</strong>: 
                <% trainer.local.address.forEach(function(addresses){ %>
                    <%= addresses %>,  
                <%});%><br>

                <!-- For each loops that itterate and display each specialization of the trainer-->
                <strong>Specialize In</strong>: 
                <% trainer.local.specialization.forEach(function(specializeIn){ %>
                    <%= specializeIn %>, 
                <%});%><br>
              </div>
            </div>   

            <div class="well hidden-xs" style="padding:10px;">  
              <a href="/"><button type="button" class="btn btn-default" style="display: block; width: 100%; padding: 15px;">Edit Profile</button></a>
            </div> 
          </div>

          <div class="col-sm-8">
            <%if(trainer.local.gymInfo){%>
              <h3><strong>Gym Registered to: </strong> <%= trainer.local.gymInfo.name %> </h3><br>
              <strong>Description </strong> <%= trainer.local.gymInfo.description %> 
              <hr>
              <img src="<%= trainer.local.gymInfo.image %>" class="img-responsive thumbnail" width="100%"></img>
            <%}%>
          </div>
         <%}%>

    <!-- FACEBOOK TRAINER INFORMATION -->
    <% if(trainer.facebook.email != null){%>
      <div class="col-sm-12">
        <div class="well">
          <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
          <p>
            <strong>id</strong>: <%= trainer.facebook.id %><br>
            <strong>Email</strong>: <%= trainer.facebook.email %><br>
            <strong>Name</strong>: <%= trainer.facebook.name %><br>
            <strong>Gender</strong>: <%= trainer.facebook.gender %><br>
          </p>
        </div>
        <%}%>

        <hr>
        <% if(trainer.local.gymInfo == null){%>
          <h3>There's no registered gym for this trainer yet</h3>
          <a href="/gym/create" class="btn btn-primary">Click here to Register a gym</a>
          <%}%>

        </div>
      </div>
    </div>
  </body>
</html>