<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/trainer/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Trainer Profile</h3>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>name</strong>: <%= user.local.name %><br>
            <strong>description</strong>: <%= user.local.description %><br>
            <strong>specialization</strong>: 
            <!-- For each loops that itterate and display each specialization of the trainer-->
            <% user.local.specialization.forEach(function(specializeIn){ %>
              <ul>
                <%= specializeIn%>
              </ul>
              <%});%>
            </p>
          </div>
        </div>

        <div class="row">

         <!-- FACEBOOK INFORMATION -->
         <div class="col-sm-6">
           <div class="well">
             <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
             <p>
               <strong>id</strong>: <%= user.facebook.id %><br>
               <strong>token</strong>: <%= user.facebook.token %><br>
               <strong>email</strong>: <%= user.facebook.email %><br>
               <strong>name</strong>: <%= user.facebook.name %>
             </p>

           </div>
         </div>

       </div>
     </div>


   </div>
 </body>
 </html>