<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
    <%- include("../../templates/navbar.ejs") %>
    <div class="container">
      <div class="row">

        <!-- CONTACT FORM -->
        <div class="col-sm-8">
          <div class="well">
            <form class="form-horizontal" method="get" action="/gym">
            <Legend><span class="fa fa-envelope"></span> Contact the trainer using this form or email the trainer directly</Legend>
              <fieldset>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Subject</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Subject" required>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Full Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Full Name" required>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Email" required>
                  </div>
                </div>

                <div class="form-group">
                  <label for="textArea" class="col-sm-2 control-label">Message</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="9" id="textArea"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                      <button type="submit" class="btn btn-primary visible-xs hidden-sm hidden-md">Send</button>
                  </div>
                </div>

              </fieldset>
          </div>
        </div>

        <!-- TRAINER INFORMATION -->
        <div class="col-sm-4 text-center">
          <div class="well">
            <h3><span class="fa fa-user"></span> Trainer's Info</h3>
            <p>
              <img src="<%= trainer.local.image %>" class="img-responsive img-thumbnail img-circle" width="150"></img> <br>
              <div class="text-left">
                <strong>Name</strong>: <%= trainer.local.name %><br>
                <strong>About Trainer</strong>: <%= trainer.local.description %><br>
                <strong>Hourly Rate</strong>: $10.00 <br>
                
                <!-- For each loops that itterate and display each specialization of the trainer-->
                <strong>Specialize in</strong>:  
                <% trainer.local.specialization.forEach(function(specializeIn){ %>
                  <span class="label label-warning">#<%= specializeIn %></span>
                  <%});%>
                  <hr>
                  <h4>Trainer's Contact</h4>
                  <strong>Email</strong>: <%= trainer.local.email %><br>
                  <strong>Phone</strong>: <%= trainer.local.phone %><br>
                  <strong>Address</strong>: <%= trainer.local.address %><br>
                </div>
                 <hr>

              </p>
            </div>

            <div class="well hidden-xs" style="padding:10px;">  
              <button type="submit" class="btn btn-default" style="display: block; width: 100%; padding: 15px;">Send</button>
            </div>
          </form>

          </div>
        </div>  
      </div>
    </div>
  </div>
</body>
</html>