<!doctype html>
<html>
<head>
  <title>Fitness Market App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    body { word-wrap:break-word; }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
    <%- include("../../templates/navbar.ejs") %>
    <div class="container">
      <div class="row">

        <!-- GYM PROFILE -->
        <div class="col-sm-8">
          <div class="well">
            <Legend><span class="fa fa-users"></span> Gym's Profile</Legend>
            <p><h4><strong>Gym's Name</strong>: <%= trainer.local.gymInfo.name %></h4>
              <strong>Description</strong>: <%= trainer.local.gymInfo.description %><br>
            </p>
            <img src="<%= trainer.local.gymInfo.image %>" class="img-responsive" width="100%"></img>
          </div>
          <div class="well">
            <Legend><span class="fa fa-users"></span> Trainer's and Gym's Review</Legend>
            <p><h4><strong>Client Name</strong>: Anna Moana</h4>
              <strong>Review</strong>: Highly recommended gym and trainer. The trainer is strict but a good one<br>
            </p>
          </div>
        </div>

        <!-- TRAINER INFORMATION -->
        <div class="col-sm-4 text-center">
          <div class="well">
            <h3><span class="fa fa-user"></span> Trainer's Info</h3>
            <p>
              <img src="<%= trainer.local.image %>" class="img-responsive img-thumbnail img-circle" width="150"></img> <br>
              <div class="text-left">
                <strong>Name</strong>: <%= trainer.local.name %><br>
                <strong>About Trainer</strong>: <%= trainer.local.description %><br>
                <!-- SET THE DECIMAL POINT TO FIXED 2 DECIMAL POINT FOR HOURLY RATE -->
                <strong>Hourly Rate</strong>: $ <%= parseFloat(trainer.local.rate).toFixed(2) %> <br>
                <strong>Specialize in</strong>: 
                <!-- FOR EACH LOOPS THAT ITTERRATE AND DISPLAY EACH SPECIALIZATION OF THE TRAINER-->
                <% trainer.local.specialization.forEach(function(specializeIn){ %>
                  <span class="label label-warning">#<%= specializeIn %></span>
                  <%});%>
                  <hr>
                  <h4>Trainer's Contact</h4>
                  <strong>Email</strong>: <%= trainer.local.email %><br>
                  <strong>Phone</strong>: <%= trainer.local.phone %><br>
                  <strong>Address</strong>: <%= trainer.local.address %> <br>
                  <strong>Email</strong>: <%= trainer.local.email %><br>
                </div>
                 <hr>
                <div class="text-center">
                  <a href="/trainer/contact/<%= trainer._id %>" class="btn btn-default btn-sm"> Contact Trainer </a>
                  <a class="btn btn-default btn-sm"> Book a Class to This Gym </a>
                </div>
              </p>
            </div>

            <div class="well hidden-xs" style="padding:10px;">  
              <a href="/"><button type="submit" class="btn btn-default" style="display: block; width: 100%; padding: 15px;">Write a Review</button></a>
            </div>
          </div>
        </div>  
      </div>
    </div>


  </div>
</body>
</html>